@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
}

nav{
    background-color:#000;
    color: #fff;
    padding:  0px 60px;
    width: 100wh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-logo{
    width: 70px;
    margin-right: 20px;
    height: 70px;
}

.nav-items{
    list-style: none;
    margin: 0 70px;
    display: flex;
}

.nav-item{
    padding: 10px;
    font-size: 19px;
}

a{
    text-decoration: none;
    color: #fff;
}

.main{
    height: 100%;
    display: flex;
    padding: 5%;
    /* overflow: hidden; */
}

.news{
    width: 90vw;
}

.news p{ 
    max-width: 60vw;
    margin-top: 30px;
}

.impo-news{
    width: 30vw;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.cards .card {
    position: relative;
    width: 250px;
    height: fit-content;
    padding: 15px;
    margin: 10px;
    padding-left: 0px;
}

.cards .card img {
    width: 100%;
    height: 100%;
}

.cards .card .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.7s;
}

.cards .card:hover .action {
    opacity: 1;
}

.cards .card .action a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 15px;
}

.news-list{
    list-style: none;
    margin-top:50px;
}

.news-list-item{
    list-style: none;
    margin: 10px;
}

.news-list-item a{
    color: #000000;
}


footer{
    margin-bottom: 50px;
    text-align: center;
}


.news-section{
    padding: 7%;
    display: flex;
    flex-wrap: wrap;
}

.news-section p{
    max-width: 85%;
    margin-top: 30px ;
}

.details{
    padding: 7%;
    padding-top:4%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 0;
}
h2{
    margin-bottom:26px;
    font-size:21px;
}

p{
    line-height: 36px;
    letter-spacing: 0.5px;
}

.details-down{
    padding: 7%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 0;
}

.comment{
    padding: 7%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    padding-top: 0;
    padding-bottom: 10px;
}

fieldset{
    width:95%;
    padding:1%;
    margin-bottom: 20px;
    background-color:#e4e7eb;
}
input{
    padding:7px;
    height:27px;
}

#comment{
    width: 68%;
}

#btn-add{
    padding:10px;
    margin-left: 15px;
}

#btn-add:hover{
    border: none;
    background-color:  #b8afcf;
    box-shadow: 0 6.5px 22.5px 0 rgba(3, 17, 24, 0.502);
    transform: scale(1.2);
    transition: transform 100ms;
    cursor: pointer;
}

.avatar{
    border-radius: 50%;
    width: 5%;
    height: 5%;
    margin-right: 34px;
}

#output{
    display:flex;
    flex-direction: column;
}

#outpu{
    display: flex;
    margin-bottom: 10px;
}
.comment-show{
    display: flex;
    flex-direction: column;
}

h5{
    font-size: 15px;
}